Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Builds/06262020/IOS/Configurator.ipa
Builds/06262020/Android_ASTC/Uninstall_Configurator-armv7.command
Builds/06262020/Android_ASTC/main.1.com.luxario.configurator.obb
Builds/06262020/Android_ASTC/Install_Configurator-armv7.command
Builds/06262020/Android_ASTC/Configurator-armv7.apk
Builds/06262020/.DS_Store
Builds/.DS_Store
